html{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
 }

#navbar3{
    display:flex;
    border:none;
    border-bottom: 1px solid rgb(222, 222, 222);
    height:40px;
    align-items:center;
}

#img_div{
    display:flex;
    margin:auto;
}

#nav_img{
    width:140px;
}

#container{
    height:500px;
    width:350px;
    margin:5% auto;
    margin-top:10px;
}

#head{
    color:rgb(41, 41, 41);
}

#email,#pass{
    width:95%;
    height:40px;
    margin-bottom:22px;
    border:1px solid rgb(158, 158, 158);
}

::placeholder{
    font-size:12px 
}

#text{
    color:rgb(99, 99, 99);
    font-size:12px;
}

#text2{
    color:rgb(99, 99, 99);
    font-size:12px;
}
span{
    color:teal;
}

#btn{
    width:95%;
    height:40px;
    font-size:14px;
    color:white;
    background-color: #c83259;
    border:none;
    cursor:pointer;
}

#text3{
    text-align:center;
    color:teal;
    font-size:11px;
}
#text4{
    text-align:center;
    color:rgb(99, 99, 99);
    font-size:11px;
}

#create_acc{
    text-decoration:none;
    color:teal;
}

#create_acc:hover{
    text-decoration: underline;
}